@font-face {
  font-family: "SFProDisplay-Medium";
  src: url('https://anima-uploads.s3.amazonaws.com/projects/5c63fb77bc2e39000dda1cf8/releases/5cb726d4c5322c000a357f28/fonts/SF-Pro-Display-Medium.otf') format("opentype");
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url('https://anima-uploads.s3.amazonaws.com/projects/5c63fb77bc2e39000dda1cf8/releases/5cb711d1c5322c00090d23c9/fonts/SF-Pro-Display-Regular.otf') format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  min-width: 320px;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
}

.header .icon-menu-container {
  background-color: rgba(255, 255, 255, 0.0);
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .icon-menu-container .icon-menu {
  background-color: rgba(255, 255, 255, 0.0);
  height: 25px;
  width: 25px;
}

.header .title-container {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .title-container .title {
  background-color: rgba(255, 255, 255, 0.0);
  font-family: 'SFProDisplay-Medium', Helvetica, Arial, serif;
  font-size: 28px;
  color: rgba(51, 51, 51, 1.0);
  text-align: center;
  line-height: 30px;
}

.header .profile-image-container {
  background-color: rgba(255, 255, 255, 0.0);
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .profile-image-container .profile-image {
  background-color: rgba(255, 255, 255, 0.0);
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

.main {
  width: 100%;
  flex: 1;
  background-color: white;
  margin-top: 75px;
  padding-bottom: 70px;
}

.main .content .playing {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
}

.main .content .playing .info {
  margin-left: 30px;
  padding: 15px 0 0 0;
  background-color: rgba(255, 255, 255, 0.0);
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.main .content .playing .info .song {
  background-color: rgba(255, 255, 255, 0.0);
  font-family: 'SFProDisplay-Medium', Helvetica, Arial, serif;
  font-size: 19.0px;
  color: rgba(40, 193, 181, 1.0);
  text-align: left;
  line-height: 23.0px;
}

.main .content .playing .info .artist {
  background-color: rgba(255, 255, 255, 0.0);
  font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(40, 193, 181, 1.0);
  text-align: left;
  line-height: 18.0px;
}

.main .content .playing .button {
  margin-right: 30px;
  padding: 15px 0 0 0;
  background-color: rgba(255, 255, 255, 0.0);
}

.main .content .playing .button .far {
  background-color: rgba(255, 255, 255, 0.0);
  font-size: 28px;
  color: rgba(40, 193, 181, 1.0);
  text-align: right;
  line-height: 23.0px;
  margin: 50% 0 50% 0;
}

.main .content .songs {
  background-color: rgba(255, 255, 255, 0.0);
  margin: 0 30px 0 30px;
}

.main .content .songs .song-container {
  background-color: rgba(255, 255, 255, 0.0);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 10px 0 10px 0;
}

.main .content .songs .song-container .name {
  background-color: rgba(255, 255, 255, 0.0);
  white-space: nowrap;
  font-family: 'SFProDisplay-Medium', Helvetica, Arial, serif;
  font-size: 19.0px;
  color: rgba(51, 51, 51, 1.0);
  text-align: left;
  line-height: 23.0px;
}

.main .content .songs .song-container .artist {
  background-color: rgba(255, 255, 255, 0.0);
  white-space: nowrap;
  font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
  font-size: 15.0px;
  color: rgba(51, 51, 51, 1.0);
  text-align: left;
  line-height: 18.0px;
}

.main .content .songs .song-container .divider {
  background-color: rgba(255, 255, 255, 0.0);
  height: 2px;
  opacity: .1;
}

.footer {
  min-width: 320px;
  width: 100%;
  height: 75px;
  background-color: rgba(40, 193, 181, 1.0);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.footer .anchor {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .25;
}

.footer .anchor .icon {
  background-color: rgba(255, 255, 255, 0.0);
  height: 18px;
  width: 20px;
  margin: 0 auto;
}

.footer .anchor .icon .shape {
  background-color: rgba(255, 255, 255, 0.0);
  height: 18px;
  width: 20px;
  margin: 0 auto;
}

.footer .anchor .icon-caption {
  font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  margin-top: 5px;
}

.main .main-nav {
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.main-nav::-webkit-scrollbar {
  display: none;
}

.main .main-nav .main-nav__item {
  border-radius: 100%;
  /* This config should be for the selected list */
  /* background-color: rgba(40, 193, 181, 1); */
  /* color: rgba(255, 255, 255, 1.0); */
  background-color: rgba(40, 193, 181, 0.25);
  color: rgba(40, 193, 181, 1);
  font-family: 'SFProDisplay-Regular', Helvetica, Arial, serif;
  font-size: 20.0px;
  text-align: center;
  max-height: 85px;
  max-width: 85px;
  min-height: 85px;
  min-width: 85px;
  margin-right: 15px;
  line-height: 82px;
  overflow: hidden;
}
